* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    background-color: teal;
}

h1 {
    margin: 20px 50px;
}
select {
    margin: 0px 50px 20px 50px;
    padding: 10px 15px;
}

.indhold {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

p {
    padding: 200px;
}

/***************dropdown
.dropdown button {
    color: #fff;
    background-color: teal;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown a:hover {
    background-color: teal;
}

.dropdown .sprog {
    position: absolute;
    background-color:  rgb(4, 176, 176);
    min-width: 114px;
    box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.436);
    display: none;
}

.dropdown:hover .sprog {
    display: block;
} 

.dropdown:hover button {
    color: rgb(4, 176, 176);
} 



.sprog li {
    display: flex;
    padding: 10px;
}******************/