* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: teal;
}

h1 {
    margin: 0px 50px 20px 0px;
}
select {
    margin: 0px 50px 20px 50px;
    padding: 10px 15px;
}

.indhold {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

p {
    padding: 200px;
}
