/*Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*light-tema som default*/
:root {
    --bg-color: #F2F2D5;
    --headerbg-color: #f1e0cc;
    --bg2-color: #F2E8DC;
    --text-color: #D9C2A7;
    --darktext-color: #596265;
    --btn-bg: #F2F2F2;
    --btn-text: #D9C2A7;
    --border-color: #A6A09C;
    --footer-color: #D9C2A7;
}

/* pink tema */
.pink-theme {
    --bg-color: #FFDCF4;
    --headerbg-color: #fbaaa3;
    --bg2-color: #FFB6AF;
    --text-color: #FFDCF4;
    --darktext-color: #596265;
    --btn-bg: #FFDCF4;
    --btn-text: #F294A5;
    --border-color: #F294A5;
    --footer-color: #fbbeb9;
}



/* mocha-theme */
.mocha-theme {
    --bg-color: #2A1D18;
    --headerbg-color: #B9825B;
    --bg2-color: #3A2922;
    --text-color: #D9B89C;
    --darktext-color: #8E7566;
    --btn-bg: #D9B89C;
    --btn-text: #2A1D18;
    --border-color: #725141;
    --footer-color: #211713;
}

/* pastel-theme */
.pastel-theme {
    --bg-color: #FFF4F9;
    --headerbg-color: #F5B8D1;
    --bg2-color: #EEDDF2;
    --text-color: #E4868D;
    --darktext-color: #98899F;
    --btn-bg: #9FCBE3;
    --btn-text: #625067;
    --border-color: #EBCB78;
    --footer-color: #DFD0E9;
}


/* cloud-theme */
.cloud-theme {
--bg-color: #EAF2F8;
--headerbg-color: #BFD9EA;
--bg2-color: #DCE9F2;
--text-color: #4B6575;
--darktext-color: #8295A1;
--btn-bg: #4B6575;
--btn-text: #334854;
--border-color: #A9BEC9;
--footer-color: #D2E1E9;
}

/* Dark tema */
.dark-theme {
    --bg-color: #211A1C;
    --headerbg-color: #302326;
    --bg2-color: #302326;
    --text-color: #E8A0A8;
    --darktext-color: #596265;
    --btn-bg: #E8A0A8;
    --btn-text: #211A1C;
    --border-color: #6B4A50;
    --footer-color: #302326;
}

/**********Body**********/

body {
    background-color: var(--bg-color);
}

/**********header**********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    background-color: var(--headerbg-color);
    border: 2px solid var(--border-color);
    border-bottom: none;
}

header h1 {
    margin-left: 20px;
    padding: 10px;
    font-size: 70px;
    color: var(--headerbg-color);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--text-color);
}

.option {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 0 0;

}
/*
.theme-select {
    border: none;
    
}*/

.option p {
    font-size: large;
    color: var(--text-color);
    padding-right: 10px;
    padding-top: 10px;
}

/*select knappen*/

select {
    appearance: none; /* Remove default OS styling */-webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

select:hover {
background-color: var(--text-color);
color: var(--darktext-color);

}

select:focus {
outline: none;

}

select::picker {
    border: none;
}

/**********main**********/

main {
    width: 85%;
    height: 70vh;
    margin: 0 auto;
    background-color: var(--bg2-color);
    border: 2px solid var(--border-color);
}

.content {
    margin: 40px 0 0 40px;
    color: var(--text-color);
}

.content h2 {
    padding: 40px 0 40px 0;
    font-size: xx-large;
}

.content p {
    padding: 40px 0 40px 0;
    font-size: large;
}

.content a {
    color: var(--border-color);
    text-decoration: none;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;
}

.content a:hover {
    color: var(--text-color);
}

/**********footer**********/

footer {
    width: 85%;
    min-height: 100px;
    margin: 0 auto;
    background-color: var(--footer-color);
    border: 2px solid var(--border-color);
    border-top: none;
}

footer h1 {
    margin-left: 20px;
    padding: 10px;
    font-size: 50px;
    color: var(--btn-bg);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var();
}

/**********media queries**********/

