* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 255, 241);
}

/***Navigation***/

button {
  padding: 14px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: black;
  color: #fff;
}

/***Fremhævet knap***/




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8b8888;
  padding-right: 50px;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
  visibility: hidden;

}

ul li a:hover {
  color: #afc7bf;
}

/***main***/

main {
    height: 100vh;
}

/***footer***/

footer {
    background-color: #8b8888;
    width: 100%;
    height: 150px;    
}